<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <!--img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width: 185px;" alt="logo"-->
                  <!--h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4-->
                </div>

                <form>
                  <p>Por favor, faça login na sua conta</p>

                  <div class="form-outline mb-4">
                    <input type="email"[(ngModel)]="usuario.login"  id="login" name="login" class="form-control" placeholder="Login" required=""/>
                    <!--div *ngIf="login.invalid" class="alert-danger">
                      Login e obrigatorio
                    </div-->
                    <!--label class="form-label" for="login">Login</label-->
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" [(ngModel)]="usuario.senha" id="senha" name="senha" class="form-control" placeholder="Senha" required=""/>
                    <!--div *ngIf="senha.invalid" class="alert-danger">Senha e obrigatoria</div-->
                    <!--label class="form-label" for="senha">Senha</label-->
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" (click)="login()">Log in</button>
                    <a class="text-muted" href="#!">Esqueceu a senha?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Não tem uma conta?</p>
                    <button type="button" class="btn btn-outline-danger">Crear um nova conta</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <!--h4 class="mb-4">We are more than just a company</h4-->
                <!--p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
